body {
    -webkit-print-color-adjust: exact;  
    background-color: #C0C0C0;
    height: 100vw;
}

.ImagemDeFundo {
    background-color: #000000;
    border-style: solid;
    border-width: 0.7vw;
    border-color: #fa0000;
}

.ImagemDeFundo img {
    width: 100%;
    height: 25vw;
}

.ImagemDoPerfil { 
    border-style: solid;
    border-width: 0.4vw;
    border-color: #3902fd;
    background-color: #3902fd;
    padding-top: 0.3vw;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
    
    position: absolute;
    left: 5vw;
    top: 19vw;
}

.ImagemDoPerfil img {
    width: 16vw;
    height: 16vw;
}

.TituloNomeCompleto {
    position: absolute;
    left: 23vw;
    top: 27vw;
}

h1 {
    font-family: Arial;
    color: #353839;
    font-size: clamp(0.08em, 0.08em + 4vw, 5em);
    font-weight: 900;
    font-style: italic;
}

.Links a {
    position: absolute;
    text-align: right;
    left: calc(103vw - 25em);
    top: calc(33vw - 0.4em);
    font-size: clamp(0.06em, 0.06em + 1.4vw, 3em);  
}

.TextoDeApresentação {
    background-color: #A9A9A9;
    border-style: solid;
    border-width: 0.3vw;
    border-color: #000000;

    position: relative;
    width: 99.4%;
    top: 15vw;
}

.FormatoDeLetra1 {
    color: #ff0000;
}

.FormatoDeLetra2 {
    color: #000000;
    font-style: italic;
    font-family: Verdana;
    font-size: clamp(0.2em, 0.2em + 1vw, 1.4em);    
}

.FormatoDeLetra3 {
    font-family: 'Times New Roman';
    font-weight: 1000;
}

.FormatoDeLetra4 {
    font-family: 'Courier New';
    text-decoration: underline;
}

.FormatoDeLetra5 {
    font-family: calibri;
    text-decoration: line-through;
    font-size: clamp(0.6em, 0.6em + 1.5vw, 2em);
    color: #2f00ff;
}

.FormatoDeLetra6 {
    font-family: monospace;
    text-decoration: overline;
    color: #000000;
}

.FormatoDeLetra7 {
    font-family: Georgia;
    color: #e1fa00;
    font-weight: 1000;
}

.FormatoDeLetra8 {
    font-family: 'Lucida Sans';
    color: #003104;
}

p {
    font-family: Arial;
    margin: 2vw;
    text-align: justify;
    font-size: clamp(0.1em, 0.1em + 2vw, 2em);
    text-indent: 3vw;
}

p.left {
    font-family: Arial;
    text-align:left;
}

p.center {
    font-family: Haettenschweiler;
    text-align:center;
    font-size: clamp(0.1em, 0.1em + 2vw, 3em);
    color: #000000;
    font-weight: 100;
}